In [1]:
import time
from selenium import webdriver
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import pandas as pd
import re
import numpy as np
import matplotlib
import sys
import random
from pymongo import MongoClient
import pymongo

In [ ]:
try:
    client = pymongo.MongoClient('mongodb+srv://sophie:root@cluster0.rxqca.mongodb.net/Cluster0?retryWrites=true&w=majority')
except err:
    print('There is an error')

In [ ]:
db = client.airport
airports = db.airports

In [2]:
browser = webdriver.Chrome('/usr/local/bin/chromedriver')
browser.get('https://www.airhelp.com/en-int/airport-ranking/')
time.sleep(1)

In [3]:
def accept_cookies(browser):
    button_cookie = browser.find_element_by_css_selector('.c-cookie-notice__button.js-cookie-notice-button')
    button_cookie.click()
    time.sleep(1)

In [4]:
def next_page(browser):
    button_next = browser.find_element_by_css_selector('.paginate_button.next')
    button_next.click()
    time.sleep(1)

In [5]:
def get_last_page(browser):
    button_end_page = browser.find_elements_by_css_selector(".paginate_button:not(.next) a")[-1]
    number_pages = button_end_page.text  
    time.sleep(1)
    return int(number_pages)

In [6]:
def get_name_airport(browser):
    name_airport_list = []
    try:
        name_airport = browser.find_elements_by_css_selector('.table-score__table-airport-name')
        time.sleep(1)
    except:
        pass
    
    for name in name_airport:
        name_airport_list.append(name.text)
        
    return name_airport_list

In [7]:
def get_city_airport(browser):
    city_airport_list = []
    try:
        city_airport = browser.find_elements_by_css_selector('.table-score__table-airport-location')
        time.sleep(1)
    except:
        pass
    
    for city in city_airport:
        c = city.text.replace(',', '').split()
        city_airport_list.append(c[0])
        
    return city_airport_list

In [8]:
def get_country_airport(browser):
    country_airport_list = []
    try:
        country_airport = browser.find_elements_by_css_selector('.table-score__table-airport-location')
        time.sleep(1)
    except:
        pass
    
    for country in country_airport:
        c = country.text.replace(',', '').split()
        if len(c) == 1:
            country_airport_list.append(c[0])
        else:
            country_airport_list.append(c[1])
            
        
    return country_airport_list

In [9]:
def get_score_airport(browser):
    score_airport_list = []
    try:
        score_airport = browser.find_elements_by_css_selector('.table-score__table-score-value:not(.table-score__table-value-countries) span')
        time.sleep(1)
    except:
        pass
    
    for score in score_airport:
        score_airport_list.append(float(score.text))
        
    return score_airport_list

In [10]:
def get_punctuality_airport(browser):
    punctuality_airport_list = []
    try:
        punctuality_airport = browser.find_elements_by_css_selector('.table-score__table-otp span')
        time.sleep(1)
    except:
        pass
    
    for punctuality in punctuality_airport:
        punctuality_airport_list.append(float(punctuality.text))
        
    return punctuality_airport_list

In [11]:
def get_qlt_service_airport(browser):
    qlt_service_airport_list = []
    try:
        qlt_service_airport = browser.find_elements_by_css_selector('.table-score__table-quality span')
        time.sleep(1)
    except:
        pass
    
    for qlt_service in qlt_service_airport:
        qlt_service_airport_list.append(float(qlt_service.text))
        
    return qlt_service_airport_list

In [12]:
def get_restau_shop_airport(browser):
    restau_shop_airport_list = []
    try:
        restau_shop_airport = browser.find_elements_by_css_selector('.table-score__table-processing')
        time.sleep(1)
    except:
        pass
    
    for restau_shop in restau_shop_airport:
        restau_shop_airport_list.append(float(restau_shop.text))
        
    return restau_shop_airport_list

In [13]:
name = []
city = []
country = []
score = []
punctuality = []
qlt_service = []
restau_shop = []

In [14]:
accept_cookies(browser)
# next_page(browser)
pages = get_last_page(browser)

In [15]:
name = get_name_airport(browser)
city = get_city_airport(browser)
country = get_country_airport(browser)
score = get_score_airport(browser)
punctuality = get_punctuality_airport(browser)
qlt_service = get_qlt_service_airport(browser)
restau_shop = get_restau_shop_airport(browser)

['Hamad International Airport', 'Tokyo International Airport', 'Athens International Airport', 'Afonso Pena International Airport', 'Gdańsk Lech Wałęsa Airport', 'Moscow Sheremetyevo International Airport', 'Singapore Changi Airport', 'Hyderabad Rajiv Gandhi International Airport', 'Tenerife North Airport', 'Viracopos/Campinas International Airport']

In [16]:
df = pd.DataFrame({
    "name" : name,
    "city" : city,
    "country" : country,
    "score" : score,
    "punctuality" : punctuality,
    "quality_service" : qlt_service,
    "restaurants shops" : restau_shop
})

In [17]:
df

,name,city,country,score,punctuality,quality_service,restaurants shops
0,Hamad International Airport,Doha,Qatar,8.39,8.3,8.5,8.5
1,Tokyo International Airport,Tokyo,Japan,8.39,8.4,8.4,8.4
2,Athens International Airport,Athens,Greece,8.38,8.1,9.0,8.7
3,Afonso Pena International Airport,Curitiba,Brazil,8.37,8.4,8.4,8.3
4,Gdańsk Lech Wałęsa Airport,Gdansk,Poland,8.35,8.2,8.7,8.5
5,Moscow Sheremetyevo International Airport,Moscow,Russia,8.35,8.5,8.1,8.0
6,Singapore Changi Airport,Singapore,Singapore,8.27,7.8,9.2,8.7
7,Hyderabad Rajiv Gandhi International Airport,Hyderabad,India,8.27,7.8,9.0,8.8
8,Tenerife North Airport,Tenerife,Spain,8.26,8.2,8.4,8.2
9,Viracopos/Campinas International Airport,Campinas,Brazil,8.25,8.4,8.2,7.9

In [20]:
df["continent"] = "NaN"

In [21]:
df

,name,city,country,score,punctuality,quality_service,restaurants shops,continent
0,Hamad International Airport,Doha,Qatar,8.39,8.3,8.5,8.5,NaN
1,Tokyo International Airport,Tokyo,Japan,8.39,8.4,8.4,8.4,NaN
2,Athens International Airport,Athens,Greece,8.38,8.1,9.0,8.7,NaN
3,Afonso Pena International Airport,Curitiba,Brazil,8.37,8.4,8.4,8.3,NaN
4,Gdańsk Lech Wałęsa Airport,Gdansk,Poland,8.35,8.2,8.7,8.5,NaN
5,Moscow Sheremetyevo International Airport,Moscow,Russia,8.35,8.5,8.1,8.0,NaN
6,Singapore Changi Airport,Singapore,Singapore,8.27,7.8,9.2,8.7,NaN
7,Hyderabad Rajiv Gandhi International Airport,Hyderabad,India,8.27,7.8,9.0,8.8,NaN
8,Tenerife North Airport,Tenerife,Spain,8.26,8.2,8.4,8.2,NaN
9,Viracopos/Campinas International Airport,Campinas,Brazil,8.25,8.4,8.2,7.9,NaN