In [1]:
import time
from selenium import webdriver
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import pandas as pd
import re
import numpy as np
import matplotlib
import sys
import random
from pymongo import MongoClient
import pymongo

In [2]:
try:
    client = pymongo.MongoClient('mongodb+srv://ipssi:82MjGCa6t3@cluster0.oehoz.mongodb.net/Cluster0?retryWrites=true&w=majority')
    # client = pymongo.MongoClient('mongodb+srv://sophie:root@cluster0.rxqca.mongodb.net/Cluster0?retryWrites=true&w=majority')
except err:
    print('There is an error')

In [3]:
db = client.airport
airports = db.airports

In [4]:
browser = webdriver.Chrome('/usr/local/bin/chromedriver')
browser.get('https://www.airhelp.com/en-int/airport-ranking/')
time.sleep(1)

In [5]:
def accept_cookies(browser):
    button_cookie = browser.find_element_by_css_selector('.c-cookie-notice__button.js-cookie-notice-button')
    button_cookie.click()
    time.sleep(1)

In [6]:
def next_page(browser):
    button_next = browser.find_element_by_css_selector('.paginate_button.next')
    button_next.click()
    time.sleep(1)

In [7]:
def get_last_page(browser):
    button_end_page = browser.find_elements_by_css_selector(".paginate_button:not(.next) a")[-1]
    number_pages = button_end_page.text  
    time.sleep(1)
    return int(number_pages)

In [8]:
def get_name_airport(browser):
    name_airport_list = []
    try:
        name_airport = browser.find_elements_by_css_selector('.table-score__table-airport-name')
        time.sleep(1)
    except:
        pass
    
    for name in name_airport:
        name_airport_list.append(name.text)
        
    return name_airport_list

In [9]:
def get_city_airport(browser):
    city_airport_list = []
    try:
        city_airport = browser.find_elements_by_css_selector('.table-score__table-airport-location')
        time.sleep(1)
    except:
        pass
    
    for city in city_airport:
        if re.match(",",city.text) != None:
            city_airport_list.append(city.text)
            print(city.text)
        else:
            c = city.text.split(',')
            city_airport_list.append(c[0])
            print(c[0])

        
    return city_airport_list

In [10]:
def get_country_airport(browser):
    country_airport_list = []
    try:
        country_airport = browser.find_elements_by_css_selector('.table-score__table-airport-location')
        time.sleep(1)
    except:
        pass
    
    for country in country_airport:
        if re.match(",",country.text) != None:
            country_airport_list.append(country.text)
            print(country.text)
        else:
            c = country.text.replace(',', '').split()
            if len(c) == 1:
                country_airport_list.append(c[0])
            else:
                country_airport_list.append(c[1])
            
        
    return country_airport_list

In [11]:
def get_score_airport(browser):
    score_airport_list = []
    try:
        score_airport = browser.find_elements_by_css_selector('.table-score__table-score-value:not(.table-score__table-value-countries) span')
        time.sleep(1)
    except:
        pass
    
    for score in score_airport:
        score_airport_list.append(float(score.text))
        
    return score_airport_list

In [12]:
def get_punctuality_airport(browser):
    punctuality_airport_list = []
    try:
        punctuality_airport = browser.find_elements_by_css_selector('.table-score__table-otp span')
        time.sleep(1)
    except:
        pass
    
    for punctuality in punctuality_airport:
        punctuality_airport_list.append(float(punctuality.text))
        
    return punctuality_airport_list

In [13]:
def get_qlt_service_airport(browser):
    qlt_service_airport_list = []
    try:
        qlt_service_airport = browser.find_elements_by_css_selector('.table-score__table-quality span')
        time.sleep(1)
    except:
        pass
    
    for qlt_service in qlt_service_airport:
        qlt_service_airport_list.append(float(qlt_service.text))
        
    return qlt_service_airport_list

In [14]:
def get_restau_shop_airport(browser):
    restau_shop_airport_list = []
    try:
        restau_shop_airport = browser.find_elements_by_css_selector('.table-score__table-processing')
        time.sleep(1)
    except:
        pass
    
    for restau_shop in restau_shop_airport:
        restau_shop_airport_list.append(float(restau_shop.text))
        
    return restau_shop_airport_list

In [15]:
name = []
city = []
country = []
score = []
punctuality = []
qlt_service = []
restau_shop = []

In [16]:
accept_cookies(browser)
pages = get_last_page(browser)

In [17]:
def add_tab(tab, array):
    for a in array:
        tab.append(array)

In [18]:
for i in range(pages):
    name_airport = get_name_airport(browser)
    for n in name_airport:
        name.append(n)
    city_airport = get_city_airport(browser)
    for c in city_airport:
        city.append(c)
    country_airport = get_country_airport(browser)
    for c in country_airport:
        country.append(c)
    score_airport = get_score_airport(browser)
    for s in score_airport:
        score.append(s)
    punctuality_airport = get_punctuality_airport(browser)
    for p in punctuality_airport:
        punctuality.append(p)
    qlt_service_airport = get_qlt_service_airport(browser)
    for qlt in qlt_service_airport:
        qlt_service.append(qlt)
    restau_shop_airport = get_restau_shop_airport(browser)
    for restau in restau_shop_airport:
        restau_shop.append(restau)
    
    next_page(browser)

Doha
Tokyo
Athens
Curitiba
Gdansk
Moscow
Singapore
Hyderabad
Tenerife
Campinas
Recife
Quito
Brasilia
Charleroi
Belo Horizonte
Nagoya
Rio de Janeiro
Trondheim
Fortaleza
Buenos Aires
Porto Alegre
Bilbao
Stavanger
Delhi
Rio de Janeiro
Perth
Las Palmas
Billund
Istanbul
Santiago
Sao Paulo
Salvador
Madrid
Atlanta
Bergen
Houston
Abu Dhabi
Puerto del Rosario
Edmonton
Seattle
Las Vegas
Lanzarote
Riyadh
Osaka
Sao Paulo
Helsinki
Cincinnati
Copenhagen
Valencia
Oslo
Hanover
Denver
Seoul
Stuttgart
Bangkok
Warsaw
Orlando USA
Malaga
Calgary
Auckland
Alicante
Tokyo
Kelowna
Miami USA
Sydney
Stockholm
Amsterdam
Vancouver
Los Angeles
Bristol
San Francisco
Ottawa
London
Hamburg
Chicago
Melbourne
Basel/Mulhouse/Freiburg
Birmingham
Berlin
Boston
Dublin
Gothenburg
Houston
Cologne/Bonn
Vienna
New York
Zurich
Mumbai
Toulouse
Nuremberg
Tenerife
Moscow
Rome
Yekaterinburg
Milan
Berlin
Halifax
Stockholm
Munich
Bordeaux
Montreal
Reykjavik
Barcelona
London
Seoul
Geneva
Palma de Mallorca
Toronto
London
Quebec
Dubai
Krakow
Frankfurt
Hong Kong
Brussels
Newark
Bogota
Dusseldorf
Lyon
Kuala Lumpur
Paris
Edinburgh
London
Toronto
Porto
Paris
Manchester
Malta
Bucharest
Eindhoven
Kuwait
Lisbon

ElementClickInterceptedException: Message: element click intercepted: Element <li class="paginate_button next disabled" aria-controls="DataTables_Table_0" tabindex="0" id="DataTables_Table_0_next">...</li> is not clickable at point (722, 107). Other element would receive the click: <section id="about-score" class="about-score">...</section>
  (Session info: chrome=89.0.4389.90)

In [19]:
df = pd.DataFrame({
    "name" : name,
    "city" : city,
    "country" : country,
    "score" : score,
    "punctuality" : punctuality,
    "quality_service" : qlt_service,
    "restaurants shops" : restau_shop
})

In [20]:
df

,name,city,country,score,punctuality,quality_service,restaurants shops
0,Hamad International Airport,Doha,Qatar,8.39,8.3,8.5,8.5
1,Tokyo International Airport,Tokyo,Japan,8.39,8.4,8.4,8.4
2,Athens International Airport,Athens,Greece,8.38,8.1,9.0,8.7
3,Afonso Pena International Airport,Curitiba,Brazil,8.37,8.4,8.4,8.3
4,Gdańsk Lech Wałęsa Airport,Gdansk,Poland,8.35,8.2,8.7,8.5
...,...,...,...,...,...,...,...
127,Malta International Airport,Malta,Malta,6.05,5.0,7.7,7.5
128,Henri Coandă International Airport,Bucharest,Romania,6.03,6.0,6.1,6.0
129,Eindhoven Airport,Eindhoven,Netherlands,5.92,4.9,7.8,7.1
130,Kuwait International Airport,Kuwait,Kuwait,5.78,4.3,8.0,8.0
131,Lisbon Portela Airport,Lisbon,Portugal,5.77,4.7,7.3,7.4

In [21]:
df["continent"] = "NaN"
df["subregion"] = "NaN"

In [26]:
df

,name,city,country,score,punctuality,quality_service,restaurants shops,continent,subregion
0,Hamad International Airport,Doha,Qatar,8.39,8.3,8.5,8.5,NaN,NaN
1,Tokyo International Airport,Tokyo,Japan,8.39,8.4,8.4,8.4,NaN,NaN
2,Athens International Airport,Athens,Greece,8.38,8.1,9.0,8.7,NaN,NaN
3,Afonso Pena International Airport,Curitiba,Brazil,8.37,8.4,8.4,8.3,NaN,NaN
4,Gdańsk Lech Wałęsa Airport,Gdansk,Poland,8.35,8.2,8.7,8.5,NaN,NaN
...,...,...,...,...,...,...,...,...,...
127,Malta International Airport,Malta,Malta,6.05,5.0,7.7,7.5,NaN,NaN
128,Henri Coandă International Airport,Bucharest,Romania,6.03,6.0,6.1,6.0,NaN,NaN
129,Eindhoven Airport,Eindhoven,Netherlands,5.92,4.9,7.8,7.1,NaN,NaN
130,Kuwait International Airport,Kuwait,Kuwait,5.78,4.3,8.0,8.0,NaN,NaN
131,Lisbon Portela Airport,Lisbon,Portugal,5.77,4.7,7.3,7.4,NaN,NaN

In [22]:
df_country = pd.read_csv(r'countryContinent.csv',encoding='latin-1')

In [28]:
df_country

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0
...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0

In [23]:
for index, row in df.iterrows():
    for i, r in df_country.iterrows():
        if (row['country'] == r['country']):
            df.loc[index, "continent"] = r['continent']  
            df.loc[index, "subregion"] = r['sub_region']

In [24]:
df

,name,city,country,score,punctuality,quality_service,restaurants shops,continent,subregion
0,Hamad International Airport,Doha,Qatar,8.39,8.3,8.5,8.5,Asia,Western Asia
1,Tokyo International Airport,Tokyo,Japan,8.39,8.4,8.4,8.4,Asia,Eastern Asia
2,Athens International Airport,Athens,Greece,8.38,8.1,9.0,8.7,Europe,Southern Europe
3,Afonso Pena International Airport,Curitiba,Brazil,8.37,8.4,8.4,8.3,Americas,South America
4,Gdańsk Lech Wałęsa Airport,Gdansk,Poland,8.35,8.2,8.7,8.5,Europe,Eastern Europe
...,...,...,...,...,...,...,...,...,...
127,Malta International Airport,Malta,Malta,6.05,5.0,7.7,7.5,Europe,Southern Europe
128,Henri Coandă International Airport,Bucharest,Romania,6.03,6.0,6.1,6.0,Europe,Eastern Europe
129,Eindhoven Airport,Eindhoven,Netherlands,5.92,4.9,7.8,7.1,Europe,Western Europe
130,Kuwait International Airport,Kuwait,Kuwait,5.78,4.3,8.0,8.0,Asia,Western Asia
131,Lisbon Portela Airport,Lisbon,Portugal,5.77,4.7,7.3,7.4,Europe,Southern Europe

In [25]:
# cleaning
airports.drop()
# Ajout du dataframe dans MongoDB
df.reset_index(inplace=True)
df_dict = df.to_dict("records")
airports.insert_many(df_dict)