In [1]:
import time
from selenium import webdriver
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import pandas as pd
import re
import numpy as np
import matplotlib
import sys
import random
from pymongo import MongoClient
import pymongo

In [2]:
try:
    client = pymongo.MongoClient('mongodb+srv://ipssi:82MjGCa6t3@cluster0.oehoz.mongodb.net/Cluster0?retryWrites=true&w=majority')
    # client = pymongo.MongoClient('mongodb+srv://sophie:root@cluster0.rxqca.mongodb.net/Cluster0?retryWrites=true&w=majority')
except err:
    print('There is an error')

In [3]:
db = client.airport
airports = db.airports

In [4]:
browser = webdriver.Chrome('/usr/local/bin/chromedriver')
browser.get('https://www.airhelp.com/en-int/airport-ranking/')
time.sleep(1)

In [5]:
def accept_cookies(browser):
    button_cookie = browser.find_element_by_css_selector('.c-cookie-notice__button.js-cookie-notice-button')
    button_cookie.click()
    time.sleep(1)

In [6]:
def next_page(browser):
    button_next = browser.find_element_by_css_selector('.paginate_button.next')
    button_next.click()
    time.sleep(1)

In [7]:
def get_last_page(browser):
    button_end_page = browser.find_elements_by_css_selector(".paginate_button:not(.next) a")[-1]
    number_pages = button_end_page.text  
    time.sleep(1)
    return int(number_pages)

In [8]:
def get_name_airport(browser):
    name_airport_list = []
    try:
        name_airport = browser.find_elements_by_css_selector('.table-score__table-airport-name')
        time.sleep(1)
    except:
        pass
    
    for name in name_airport:
        name_airport_list.append(name.text)
        
    return name_airport_list

In [9]:
def get_city_airport(browser):
    city_airport_list = []
    try:
        city_airport = browser.find_elements_by_css_selector('.table-score__table-airport-location')
        time.sleep(1)
    except:
        pass
    
    for city in city_airport:
        c = city.text.replace(',', '').split()
        city_airport_list.append(c[0])
        
    return city_airport_list

In [10]:
def get_country_airport(browser):
    country_airport_list = []
    try:
        country_airport = browser.find_elements_by_css_selector('.table-score__table-airport-location')
        time.sleep(1)
    except:
        pass
    
    for country in country_airport:
        c = country.text.replace(',', '').split()
        if len(c) == 1:
            country_airport_list.append(c[0])
        else:
            country_airport_list.append(c[1])
            
        
    return country_airport_list

In [11]:
def get_score_airport(browser):
    score_airport_list = []
    try:
        score_airport = browser.find_elements_by_css_selector('.table-score__table-score-value:not(.table-score__table-value-countries) span')
        time.sleep(1)
    except:
        pass
    
    for score in score_airport:
        score_airport_list.append(float(score.text))
        
    return score_airport_list

In [12]:
def get_punctuality_airport(browser):
    punctuality_airport_list = []
    try:
        punctuality_airport = browser.find_elements_by_css_selector('.table-score__table-otp span')
        time.sleep(1)
    except:
        pass
    
    for punctuality in punctuality_airport:
        punctuality_airport_list.append(float(punctuality.text))
        
    return punctuality_airport_list

In [13]:
def get_qlt_service_airport(browser):
    qlt_service_airport_list = []
    try:
        qlt_service_airport = browser.find_elements_by_css_selector('.table-score__table-quality span')
        time.sleep(1)
    except:
        pass
    
    for qlt_service in qlt_service_airport:
        qlt_service_airport_list.append(float(qlt_service.text))
        
    return qlt_service_airport_list

In [14]:
def get_restau_shop_airport(browser):
    restau_shop_airport_list = []
    try:
        restau_shop_airport = browser.find_elements_by_css_selector('.table-score__table-processing')
        time.sleep(1)
    except:
        pass
    
    for restau_shop in restau_shop_airport:
        restau_shop_airport_list.append(float(restau_shop.text))
        
    return restau_shop_airport_list

In [9]:
name = []
city = []
country = []
score = []
punctuality = []
qlt_service = []
restau_shop = []

In [10]:
accept_cookies(browser)
# next_page(browser)
pages = get_last_page(browser)

In [17]:
# name = get_name_airport(browser)
# city = get_city_airport(browser)
# country = get_country_airport(browser)
# score = get_score_airport(browser)
# punctuality = get_punctuality_airport(browser)
# qlt_service = get_qlt_service_airport(browser)
# restau_shop = get_restau_shop_airport(browser)

In [11]:
for i in range(2):
    name_airport = get_name_airport(browser)
    for n in name_airport: 
        name.append(n)

    # city= get_city_airport(browser)
    # country = get_country_airport(browser)
    # score = get_score_airport(browser)
    # punctuality = get_punctuality_airport(browser)
    # qlt_service = get_qlt_service_airport(browser)
    # restau_shop = get_restau_shop_airport(browser)
    # df = pd.DataFrame({
    #     "name" : name,
    #     "city" : city,
    #     "country" : country,
    #     "score" : score,
    #     "punctuality" : punctuality,
    #     "quality_service" : qlt_service,
    #     "restaurants shops" : restau_shop
    # })
    next_page(browser)

In [12]:
df = pd.DataFrame({
    "name" : name,
    # "city" : city,
    # "country" : country,
    # "score" : score,
    # "punctuality" : punctuality,
    # "quality_service" : qlt_service,
    # "restaurants shops" : restau_shop
})

In [13]:
df

                                             name
0                     Hamad International Airport
1                     Tokyo International Airport
2                    Athens International Airport
3               Afonso Pena International Airport
4                      Gdańsk Lech Wałęsa Airport
5       Moscow Sheremetyevo International Airport
6                        Singapore Changi Airport
7    Hyderabad Rajiv Gandhi International Airport
8                          Tenerife North Airport
9        Viracopos/Campinas International Airport
10                   Recife International Airport
11           Mariscal Sucre International Airport
12                 Brasília International Airport
13               Brussels South Charleroi Airport
14           Tancredo Neves International Airport
15           Chubu Centrair International Airport
16           Santos Dumont Airport Rio de Janeiro
17                              Trondheim Airport
18  Pinto Martins–Fortaleza International Airport
19                    Buenos Aires Ezeiza Airport

In [20]:
df["continent"] = "NaN"
df["subregion"] = "NaN"

In [21]:
df

,name,city,country,score,punctuality,quality_service,restaurants shops,continent,subregion
0,Hamad International Airport,Doha,Qatar,8.39,8.3,8.5,8.5,NaN,NaN
1,Tokyo International Airport,Tokyo,Japan,8.39,8.4,8.4,8.4,NaN,NaN
2,Athens International Airport,Athens,Greece,8.38,8.1,9.0,8.7,NaN,NaN
3,Afonso Pena International Airport,Curitiba,Brazil,8.37,8.4,8.4,8.3,NaN,NaN
4,Gdańsk Lech Wałęsa Airport,Gdansk,Poland,8.35,8.2,8.7,8.5,NaN,NaN
5,Moscow Sheremetyevo International Airport,Moscow,Russia,8.35,8.5,8.1,8.0,NaN,NaN
6,Singapore Changi Airport,Singapore,Singapore,8.27,7.8,9.2,8.7,NaN,NaN
7,Hyderabad Rajiv Gandhi International Airport,Hyderabad,India,8.27,7.8,9.0,8.8,NaN,NaN
8,Tenerife North Airport,Tenerife,Spain,8.26,8.2,8.4,8.2,NaN,NaN
9,Viracopos/Campinas International Airport,Campinas,Brazil,8.25,8.4,8.2,7.9,NaN,NaN

In [22]:
df_country = pd.read_csv(r'countryContinent.csv',encoding='latin-1')

In [23]:
df_country

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0
...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0

In [24]:
for index, row in df.iterrows():
    for i, r in df_country.iterrows():
        if (row['country'] == r['country']):
            df.loc[index, "continent"] = r['continent']  
            df.loc[index, "subregion"] = r['sub_region']

In [25]:
df

,name,city,country,score,punctuality,quality_service,restaurants shops,continent,subregion
0,Hamad International Airport,Doha,Qatar,8.39,8.3,8.5,8.5,Asia,Western Asia
1,Tokyo International Airport,Tokyo,Japan,8.39,8.4,8.4,8.4,Asia,Eastern Asia
2,Athens International Airport,Athens,Greece,8.38,8.1,9.0,8.7,Europe,Southern Europe
3,Afonso Pena International Airport,Curitiba,Brazil,8.37,8.4,8.4,8.3,Americas,South America
4,Gdańsk Lech Wałęsa Airport,Gdansk,Poland,8.35,8.2,8.7,8.5,Europe,Eastern Europe
5,Moscow Sheremetyevo International Airport,Moscow,Russia,8.35,8.5,8.1,8.0,NaN,NaN
6,Singapore Changi Airport,Singapore,Singapore,8.27,7.8,9.2,8.7,Asia,South-Eastern Asia
7,Hyderabad Rajiv Gandhi International Airport,Hyderabad,India,8.27,7.8,9.0,8.8,Asia,Southern Asia
8,Tenerife North Airport,Tenerife,Spain,8.26,8.2,8.4,8.2,Europe,Southern Europe
9,Viracopos/Campinas International Airport,Campinas,Brazil,8.25,8.4,8.2,7.9,Americas,South America

In [26]:
# Ajout du dataframe dans MongoDB
df.reset_index(inplace=True)
df_dict = df.to_dict("records")
airports.insert_many(df_dict)